.ms-item {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  vertical-align: top;
  .transition(transform .3s linear);

  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &:hover {
    .scale(1.1);
    .img-overlay {
      background-color: rgba(95, 247, 210, 0.73);
    }

    .item-info {
      top: -130px;
    }

    .btn {
      opacity: 1;
    }
  }

  &.inverted {
    .rotateY(180deg);

    &:hover {
      -webkit-transform: scale(1.1) rotateY(180deg);
      -ms-transform: scale(1.1) rotateY(180deg);
      -o-transform: scale(1.1) rotateY(180deg);
      transform: scale(1.1) rotateY(180deg);
    }
  }
}

.item-img-ctr {
  height: 340px;
  overflow: hidden;
  position: relative;
  .transition( height ease-in .2s );

  img {
    width: 280px;
  }
}

.img-overlay {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .transition(background-color ease-in .25s);
}

.item-info {
  background-color: #fff;
  padding: 20px;
  position: relative;
  top: 0;
  .transition(top linear .25s);
}

.item-info-row {
  margin-bottom: 15px;
}

.item-info-label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.item-desc {
  text-transform: capitalize;
}

.item-desc,
.item-size-info {
  color: #999;
}

.item-info-label,
.item-size-info,
.action-btns {
  text-transform: uppercase;
}

.color-selector {
  border-radius: 20px;
  border: 1px solid #ddd;
  display: inline-block;
  margin-right: 5px;
  .square(20px);
  .transition( transform linear .1s );

  &:hover {
    .scale(1.1);
  }
}

.action-btns {
  position: absolute;
  top: 66px;
  left: 73px;

  .btn {
    border: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    display: block;
    font-weight: bold;
    opacity: 0;
    margin-bottom: 10px;
    padding: 10px 15px;

    .transition(opacity .2s linear, background-color .2s linear;);

    &:hover {
      background-color: #fff;
      color: rgba(95, 247, 210, 1);
    }
  }
}

.front,
.back {
  .backface-visibility(hidden);
}

.front {
  height: 410px;
  overflow: hidden;
  .rotateY(0deg);
}

.back {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  .rotateY(180deg);
}

.slide-control {
  background-color: #fff;
  color: rgba(95, 247, 210, 0.5);
  font-size: 40px;
  margin-top: -28px;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  text-decoration: none !important;

  &:hover {
    color: rgba(95, 247, 210, 0.7);
  }

  &:active, &:focus {
    color: rgba(95, 247, 210, 0.5);
    outline: none;
  }
}

.slide-control-left {
  left: 0;
}

.slide-control-right {
  right: 0;
}