<div class="front">
    <div class="item-img-ctr">
        <img src="<%= item.images[0] %>"/>
        <div class="img-overlay"></div>
    </div>

    <div class="item-info">
        <div class="item-info-row clearfix">
            <div class="pull-left">
                <div class="item-name item-info-label"><%= item.label %></div>
                <div class="item-desc"><%= item.desc %></div>
            </div>
            <div class="pull-right item-price"><%= item.price %></div>
        </div>

        <div class="item-info-row">
            <div class="item-info-label">sizes</div>
            <div class="item-size-info"><%= item.sizes.join( ', ' ) %></div>
        </div>

        <div class="item-info-row">
            <div class="item-info-label">colors</div>
            <% _.forEach( item.colors, function ( color ) { %>
            <div class="color-selector" style="background-color: <%= color %>;"></div>
            <% } ) %>
        </div>
    </div>

    <div class="action-btns">
        <div class="btn" data-action="add-to-cart">add to cart</div>
        <div class="btn" data-action="toggle-gallery">view gallery</div>
    </div>
</div>

<div class="back">
    <div id="<%= galleryId %>" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <% _.forEach( item.images, function ( image ) { %>
            <div class="gallery-item item">
                <img src="<%= image %>"/>
            </div>
            <% } ) %>
        </div>

        <a class="slide-control slide-control-left" href="#<%= galleryId %>" data-slide="prev">&lt;</a>
        <a class="slide-control slide-control-right" href="#<%= galleryId %>" data-slide="next">&gt;</a>

    </div>
    <div class="icn-close" data-action="toggle-gallery">&times;</div>
</div>